<<<<<<< HEAD:scss/_vars.scss
// my_vars
=======
// my_vars

$body_bg:#f00;
$color_1:#111;
$color_2:#222;
$color_3:#333;
$color_4:#444;
$color_5:#555;
$color_6:#666;
>>>>>>> 192e56b8e2dde77f361478b08402ea575f7a9091:app/styles/_vars.scss
